# Exercise 2 - Pandas

Write a Pandas program to filter the records from the world alcohol consumption dataset where the beer servings are greater than 200 lt and the life expectancy is above 70 years.

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('World_Alcohol_Dataset - MAIN.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
0,Afghanistan,0,0,0,65.0,ASIA (EX. NEAR EAST),700
1,Albania,89,132,54,77.8,EASTERN EUROPE,4500
2,Algeria,25,0,14,75.6,NORTHERN AFRICA,6000
3,Angola,217,57,45,52.4,SUB-SAHARAN AFRICA,1900
4,Antigua and Barbuda,102,128,45,76.4,LATIN AMER. & CARIB,11000

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          177 non-null    object
 1   beer_servings    177 non-null    object
 2   spirit_servings  177 non-null    object
 3   wine_servings    177 non-null    object
 4   life_expentancy  177 non-null    float64
 5   region           177 non-null    object
 6   gdp_per_capita   177 non-null    int64
dtypes: float64(1), int64(1), object(5)
memory usage: 9.8+ KB

In [55]:
# There are one or more rows containing the special character '?'
df[df['beer_servings'].str.contains('\?')] # Checking the row(s) containing '?'

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
96,Macedonia,?,27,86,75.7,EASTERN EUROPE,6700

In [56]:
# df.drop(df[df['beer_servings'] == '?'].index , inplace=True) # Dropping the unconsistent row
# df[df['beer_servings'].str.contains('\?')] # Checking if the unconsistent row has been removed
df = df[df['beer_servings'] != '?'] # Dropping the unconsistent row
df[df['beer_servings'].str.contains('\?')] # Checking if the unconsistent row has been removed

Empty DataFrame
Columns: [country, beer_servings, spirit_servings, wine_servings, life_expentancy, region, gdp_per_capita]
Index: []

In [57]:
df['beer_servings'] = df['beer_servings'].astype(float) # Converting the 'beer_servings' column to float

In [58]:
df[(df['beer_servings'] > 200) & (df['life_expentancy'] > 70)] # Showing the df with filtering condition, we've not saved the changes in the df

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
7,Australia,261.0,72,212,82.8,OCEANIA,29000
8,Austria,279.0,75,191,81.5,WESTERN EUROPE,30000
15,Belgium,295.0,84,212,81.1,WESTERN EUROPE,29100
16,Belize,263.0,114,8,71.0,LATIN AMER. & CARIB,4900
22,Brazil,245.0,145,16,75.0,LATIN AMER. & CARIB,7600
24,Bulgaria,231.0,252,94,74.5,EASTERN EUROPE,7600
30,Canada,240.0,122,100,82.2,NORTHERN AMERICA,29800
40,Croatia,230.0,87,254,78.0,EASTERN EUROPE,10600
43,Czechia,361.0,170,134,78.8,EASTERN EUROPE,15700
44,Denmark,224.0,?,278,86.0,WESTERN EUROPE,31100
53,Estonia,224.0,194,59,77.6,BALTICS,12300
56,Finland,263.0,133,97,81.1,WESTERN EUROPE,27400
61,Germany,346.0,117,175,81.0,WESTERN EUROPE,27600
71,Hungary,234.0,215,185,75.8,EASTERN EUROPE,13900
72,Iceland,233.0,61,78,82.7,WESTERN EUROPE,30900
77,Ireland,313.0,118,165,81.4,WESTERN EUROPE,29600
89,Latvia,281.0,216,62,74.6,BALTICS,10200
94,Lithuania,343.0,244,56,73.6,BALTICS,11400
95,Luxembourg,236.0,133,271,82.0,WESTERN EUROPE,55100
105,Mexico,238.0,68,5,76.7,LATIN AMER. & CARIB,9000
113,Netherlands,251.0,88,190,81.9,WESTERN EUROPE,28600
114,New Zealand,203.0,79,175,81.6,OCEANIA,21600
122,Panama,285.0,104,18,77.8,LATIN AMER. & CARIB,6300
124,Paraguay,213.0,117,74,74.0,LATIN AMER. & CARIB,4700
127,Poland,343.0,215,56,77.5,EASTERN EUROPE,11100
130,Romania,297.0,122,167,75.0,EASTERN EUROPE,7000
131,Russia,247.0,326,73,75.0,C.W. OF IND. STATES,8900
136,Serbia,283.0,131,127,75.6,EASTERN EUROPE,2200
141,Slovenia,270.0,51,276,88.0,EASTERN EUROPE,19000
146,Spain,284.0,157,112,82.8,WESTERN EUROPE,22000
165,Ukraine,206.0,237,45,71.3,C.W. OF IND. STATES,5400
167,United Kingdom,219.0,126,195,81.2,WESTERN EUROPE,27700
169,USA,249.0,158,84,79.3,NORTHERN AMERICA,37800
172,Venezuela,333.0,100,3,74.1,LATIN AMER. & CARIB,4800